<div class="grid text-center">
  <h1>Выберите пункт меню:</h1>
  <a href="/Employee/showYourMotivation"><button  class="button2" tabindex="0"> 1 - Твои бонусы </button></a>
  <a href="/Employee/allMotivations"><button class="button2" tabindex="0"> 2 - Все бонусы </button></a>
  <a href="/Employee/yourWorkStatistics"><button  class="button2" tabindex="0"> 3 - Статистики твоей работы </button></a>
  <a href="/Employee/workingDay"><button class="button2" tabindex="0"> 4 - Рабочий день </button></a>
  <a href="/Employee/careerLadder"><button class="button2" tabindex="0"> 5 - Карьерная лестница </button></a>
</div>
