<div class="grid text-center">
  <h1>Выберите пункт меню:</h1>
  <a routerLink="/Employee/showYourMotivation"><button  class="button2" tabindex="0"> 1 - Твои бонусы </button></a>
  <a routerLink="/Employee/allMotivations"><button class="button2" tabindex="0"> 2 - Все бонусы </button></a>
  <a routerLink="/Employee/yourWorkStatistics"><button  class="button2" tabindex="0"> 3 - Статистики твоей работы </button></a>
  <a routerLink="/Employee/careerLadder"><button class="button2" tabindex="0"> 4 - Карьерная лестница </button></a>
  <a routerLink="/Employee/punishment"><button class="button2" tabindex="0"> 5 - Посмотреть возможные наказания </button></a>
  <a routerLink="/Employee/finMot"><button class="button2" tabindex="0"> 5 - Посмотреть типы не финансовых мотиваций </button></a>
  <a routerLink="/Employee/nonFinMot"><button class="button2" tabindex="0"> 5 - Посмотреть типы финансовых мотиваций </button></a>
  <br/>
  <router-outlet></router-outlet>
</div>
