<div class="grid text-center">
  <h1>Выберите пункт меню:</h1>
  <a href="/Admin/finMotivation"><button  class="button2" tabindex="0"> 1 - Финансовая мотивация для конкретного сотрудника</button></a>
  <a href="/Admin/non-finMotivation"><button  class="button2" tabindex="0"> 2 - Нефинансовая мотивация для конкретного сотрудника</button></a>
  <a href="/Admin/event"><button  class="button2" tabindex="0"> 3 - мероприятия </button></a>
  <a href="/Admin/employeePerformanceAnalysis"><button class="button2" tabindex="0"> 4 - Анализ работы сотрудников </button></a>
  <a href="/Admin/methodsMotivation"><button  class="button2" tabindex="0"> 5 - Методы мотивации </button></a>
  <a href="/Admin/punishment"><button class="button2" tabindex="0"> 6 - Наказания сотрудников </button></a>
  <a href="#" class="scrollup">Наверх</a>
</div>
