<div class="grid text-center">
  <h1>Выберите пункт меню:</h1>
  <a routerLink="/Admin/event"><button  class="button2" tabindex="0"> 1 - мероприятия </button></a>
  <a routerLink="/Admin/employeePerformanceAnalysis"><button class="button2" tabindex="0"> 2 - Анализ работы сотрудников </button></a>
  <a routerLink="/Admin/methodsMotivation"><button  class="button2" tabindex="0"> 3 - Методы мотивации </button></a>
  <a routerLink="/Admin/punishment"><button class="button2" tabindex="0"> 4 - Наказания сотрудников </button></a>
  <a routerLink="/Admin/employee"><button class="button2" tabindex="0"> 5 - сотрудники </button></a>
  <a routerLink="/Admin/finMot"><button class="button2" tabindex="0"> 5 - Посмотреть типы не финансовых мотиваций </button></a>
  <a routerLink="/Admin/nonFinMot"><button class="button2" tabindex="0"> 5 - Посмотреть типы финансовых мотиваций </button></a>
  <br/>
  <a routerLink="#" class="scrollup">Наверх</a>
  <router-outlet></router-outlet>
</div>
