<div class="grid text-center">
  <h1>Выберите пункт меню:</h1>
  <a routerLink="/Admin/finMotivation"><button  class="button2" tabindex="0"> 1 - Финансовая мотивация для конкретного сотрудника</button></a>
  <a routerLink="/Admin/non-finMotivation"><button  class="button2" tabindex="0"> 2 - Нефинансовая мотивация для конкретного сотрудника</button></a>
  <a routerLink="/Admin/event"><button  class="button2" tabindex="0"> 3 - мероприятия </button></a>
  <a routerLink="/Admin/employeePerformanceAnalysis"><button class="button2" tabindex="0"> 4 - Анализ работы сотрудников </button></a>
  <a routerLink="/Admin/methodsMotivation"><button  class="button2" tabindex="0"> 5 - Методы мотивации </button></a>
  <a routerLink="/Admin/punishment"><button class="button2" tabindex="0"> 6 - Наказания сотрудников </button></a>
  <a routerLink="#" class="scrollup">Наверх</a>
  <br/>
  <router-outlet></router-outlet>
</div>
