<div case="*">
  <table class="table table-hover" style="margin-left: -5px">
    <thead>
    <tr>
      <th text="До"></th>
      <th text="После"></th>
      <th text="Сотрудник"></th>
      <th text="Предоставил"></th>
      <th text="Тип финансовой мотивации"></th>
      <th text="Тип не финансовой мотивации"></th>
      <th text="Дата предоставления"></th>
    </tr>
    </thead>
    <tbody>
    <tr each= motivation : {{motivations}}}>
      <td text= {{motivation.before}}></td>
      <td text={{methodOfMotivation.after}}></td>
      <td text={{methodOfMotivation.Employees.surname}} + {{methodOfMotivation.Employees.firstname}} + {{methodOfMotivation.Employees.patronymic}}></td>
      <td text={{methodOfMotivation.HRManagers.HRSurname}} + ${methodOfMotivation.HRManagers.HRFirstName}} + ${methodOfMotivation.HRManagers.HRPatronymic}}></td>
      <td text={{methodOfMotivation.TypesFinancialMotivation.nameFinMotivation}}></td>
      <td text={{methodOfMotivation.TypesNonFinancialMotivation.nameNonFinMotivation}}></td>
      <td text={{methodOfMotivation.dateOfRecieving}}></td>
    </tr>
    </tbody>
  </table>
  <a href="/Admin/addMethodsOfMotivation"><button>Добавить</button></a>
</div>
